{% extends "base.html" %} 
{% load bootstrap3 %}
{% load thumbnail %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}" />
{% endblock %}

{% block content %} 
    <h1 class="page-header">{% block title %}Books{% endblock %}</h1> 
 
    <table class="table table-striped list">

    {% if not paginator.count %}
        <caption>Currently there is no book in the library.</caption>
    {% elif paginator.count == 1 %}
        <caption>Currently there is <span class="label label-default">{{ paginator.count }}</span> book{{ paginator.count|pluralize }} in the library.</caption>
    {% else %}
        <caption>Currently there are <span class="label label-default">{{ paginator.count }}</span> book{{ paginator.count|pluralize }} in the library.</caption>
    {% endif %}

        <thead> 
        <tr> 
            <th>#</th>
            <th>Cover</th>
            <th>Title</th> 
            <th>Authors</th>
            <th>Publication year</th>
        </tr> 
        </thead> 
        <tbody> 
        {% for book in books %} 
        <tr> 
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <a href="{% url 'book_show' book.slug %}" class="thumbnail">
                    {% thumbnail book.cover "50x50" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </a>
            </td>
            <td>
                <a href="{% url 'book_show' book.slug %}">
                    {{ book.title }}
                </a>
            </td>
            <td>
                {% if book.authors.count == 1 %}
                    {{ book.authors.first }}
                {% else %}
                    <ul>
                        {% for author in book.authors.all %}
                            <li>{{ author }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td>{{ book.publication_year }}</td>
        </tr> 
        {% endfor %} 
        </tbody> 
    </table> 
    {% if is_paginated %} 
        {% bootstrap_pagination page_obj %} 
    {% endif %} 
{% endblock %}