{% extends "base.html" %} 
{% load bootstrap3 %}
{% load thumbnail %}
{% load static %}
{% load attachments_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">{% block title %}{{ book.title }}{% endblock %}</h1>

            <div class="panel panel-default">
                <div class="panel-heading">Information</div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-md-5 text-center">
                                {% thumbnail book.cover "180x320" as im %}
                                    <img src="{{ im.url }}" class="img-thumbnail">
                                {% endthumbnail %}
                            </div>
                            <div class="col-xs-12 col-md-7">
                                <dl class="dl-horizontal">
                                  <dt>Author{{ book.authors.count|pluralize }}:</dt>
                                    {% if book.authors.count == 1 %}
                                        <dd>{{ book.authors.first }}</dd>
                                    {% else %}
                                        <dd>
                                            <ul>
                                                {% for author in book.authors.all %}
                                                    <li>{{ author }}</li>
                                                {% endfor %}
                                            </ul>
                                        </dd>
                                    {% endif %}
                                    <dt>Publication year:</dt>
                                    <dd>{{ book.publication_year }}</dd>
                                    {% if book.description %}
                                        <dt>Description:</dt>
                                        <dd>{{ book.description }}</dd>
                                    {% endif %}
                                    {% if rental %}
                                        {% get_attachments_for book as attachments_list %}
                                        {% if attachments_list %}
                                        <dt>Read online:</dt>
                                        <dd>
                                            <ul class="list-unstyled">
                                            {% for attachment in attachments_list %}
                                                <li>
                                                    <a href="{% static 'pdf-js/web/viewer.html' %}?file={{ attachment.attachment_file.url }}">{{ attachment.filename }}</a>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </dd>
                                        {% endif %}
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not rental %}
                <div class="panel-footer clearfix">
                    <a class="btn btn-success pull-right" href="{% url 'book_rent' book.slug %}">
                        <i class="glyphicon glyphicon-plus"></i>
                        Add to my shelf
                    </a>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}