{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
    <h1 class="page-header">{% block title %}{{ title }}{% endblock %}</h1>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="{% url 'book_list' %}">
                <img class="img-responsive" src="{% static "images/books.svg" %}" alt="Books">
            </a>
        </div>
{#        <div class="col-lg-3 col-md-4 col-xs-6 thumb">#}
{#            <a class="thumbnail" href="{% url 'movies_list' %}">#}
{#                <img class="img-responsive" src="{% static "images/movies.svg" %}" alt="Movies">#}
{#            </a>#}
{#        </div>#}
    </div>
{% endblock %}