{% load bootstrap3 %}
{% load widget_tweaks %}
{% load i18n %}

<div class="form-group {% if field.errors %} has-error {% endif %}">
    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
    {% render_field field class+='form-control' placeholder=field.label %}
    {% if field.errors %}
        <span class="help-block">{{ field.errors|join:'<br />' }}</span>
    {% elif field.help_text %}
        <span class="help-block">{{ field.help_text }}</span>
    {% endif %}
</div>