{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load custom_tags %}


{% block css %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{% static 'css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">

                        <div class="form-box">
                            <div class="form-top">
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <p><strong>{% trans "Oh snap!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
                                    </div>
                                {% endif %}

                                <div class="form-top-left">
                                    <h3>Login to our site</h3>
                                    <p>Enter username and password to log on:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="{% url 'auth_login' %}" method="post" class="login-form" role="form">
                                    {% csrf_token %}
                                    {% for field in form %}
                                        {% include 'registration/form_field.html' %}
                                    {% endfor %}
                                    <p><a href="{% url 'auth_password_reset' %}">Forgot your password?</a></p>
                                    <button type="submit" class="btn">Sign in!</button>
                                </form>
                                <p>Not a member? Sign up <a href="{% url 'registration_register' %}">here</a>.</p>
                            </div>
                        </div>

                        {% get_active_providers as socialaccount_providers %}

                        {% if socialaccount_providers %}
                        <div class="social-login">
                            <h3>...or login with:</h3>
                            <div class="social-login-buttons">
                            {% for provider in socialaccount_providers %}
                                <a class="btn btn-link-2" href="{% provider_login_url provider.id %}">
                                    <i class="fa fa-{{ provider.id }}"></i> {{ provider.name }}
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block body_js %}
    <script src="{% static 'js/vendor/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'js/accounts.js' %}"></script>

    <!--[if lt IE 10]>
        <script src="{% static 'js/placeholder.js' %}"></script>
    <![endif]-->
{% endblock %}