<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        {% load bootstrap3 %}
        {% load static %}

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">


        <title>{% block title %}My Rental Store{% endblock title %}</title>


        <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}">
        {% bootstrap_css %}
        <style>body{padding-top:70px;padding-bottom:20px;}</style>
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">


        <!-- HEAD JavaScript -->
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
        {% block head_js %}{% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
           {% block header %}
                {% include "navbar.html" %}
           {% endblock %}
        </header>

        <main>
            {% block main %}
                <div class="container">
                    {% block container %}
                        {% bootstrap_messages %}

                        <div class="content">
                            {% block content %}
                            {% endblock content %}
                        </div>
                    {% endblock container %}
                </div>
            {% endblock main %}
        </main>

        <footer>
           {% block footer %}
           {% endblock %}
        </footer>


        <!-- BODY JavaScript -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"
                integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
                crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"><\/script>')</script>
        {% bootstrap_javascript %}
        {% block body_js %}{% endblock %}
        <script src="{% static "js/main.js" %}"></script>
    </body>
</html>
