{% load custom_tags %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'homepage' %}">RentalStore</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li{% active_page request 'homepage' ' class="active"' %}>
                    <a href="{% url 'homepage' %}">
                        Library{% active_page request 'homepage' ' <span class="sr-only">(current)</span>' %}
                    </a>
                </li>
                <li{% active_page request 'book_list' ' class="active"' %}>
                    <a href="{% url 'book_list' %}">
                        Books{% active_page request 'book_list' ' <span class="sr-only">(current)</span>' %}
                    </a>
                </li>
                <li{% active_page request 'my_shelf' ' class="active"' %}>
                    <a href="{% url 'my_shelf' %}">
                        My shelf{% active_page request 'my_shelf' ' <span class="sr-only">(current)</span>' %}
                    </a>
                </li>
{#                <li{% active_page request 'boots_list' ' class="active"' %}>#}
{#                    <a href="{%  url 'boots_list' %}">#}
{#                        Boots{% active_page request 'boots_list' ' <span class="sr-only">(current)</span>' %}#}
{#                    </a>#}
{#                </li>#}
            </ul>
            {% endif %}
            <form class="navbar-form navbar-right" role="form">
                {% if request.user.is_authenticated %}
                <a href="{% url 'auth_logout' %}" class="btn btn-danger">
                    <i class="fa fa-sign-out"></i>
                    Sign out
                </a>
                {% else %}
                <a href="{% url 'auth_login' %}" class="btn btn-success">
                    <i class="fa fa-sign-in"></i>
                    Sign in
                </a>
                <a href="{% url 'registration_register' %}" class="btn btn-default">
                    <i class="ion-person-add"></i>
                    Sign up
                </a>
                {% endif %}
            </form>
            {% if request.user.is_authenticated %}
            <p class="navbar-text navbar-right">Logged in as <b>{{ request.user.username }}</b></p>
            {% endif %}
        </div><!--/.navbar-collapse -->
    </div>
</nav>